<ion-header>
  <ion-toolbar>
    <ion-title>New User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">

  <form class="newuser-form" [formGroup]="newUserForm" (submit)="create()">
    <ion-item class="input-item">
      <ion-label color="secondary" position="stacked">Name</ion-label>
      <ion-input type="text" formControlName="name" clearInput="true"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label color="secondary" position="stacked">Email</ion-label>
      <ion-input type="email" formControlName="email" clearInput="true"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label color="secondary" position="stacked">Phone</ion-label>
      <ion-input type="number" formControlName="phone" clearInput="true"></ion-input>
    </ion-item>


    <ion-button class="submit-btn" expand="block" [disabled]="!newUserForm.valid" type="submit" strong="true">Submit</ion-button>
  </form>

</ion-content>
