
<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content">

  <form class="login-form" [formGroup]="loginForm" (submit)="doLogin()">
    <ion-item class="input-item">
      <ion-label color="secondary" position="stacked">Username</ion-label>
      <ion-input type="text" formControlName="username" clearInput="true"></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label color="secondary" position="stacked">Password</ion-label>
      <ion-input type="password" formControlName="password" clearInput="true"></ion-input>
    </ion-item>

    <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>

    <ion-button class="submit-btn" expand="block" [disabled]="!loginForm.valid" type="submit" strong="true">Log In</ion-button>
  </form>

</ion-content>
<!-- 
<div class="login-container">
  <div class="login-box">
    <div class="container">
      <div class="card col-md-6 mt-3 mx-auto">
        <div class="card-body">
          <h4 class="card-title text-center">
            <i class="far fa-3x fa-user-circle text-muted"></i>
          </h4>
          <form (submit)="doLogin()" [formGroup]="loginForm" novalidate>
            <div class="m-3">
              <label class="d-block my-3">
                <input
                  type="text"
                  class="form-control"
                  formControlName="username"
                  autocomplete="username"
                  [placeholder]="'Username'"
                />
                <span hidden>Username</span>
              </label>
              <label class="d-block mb-3">
                <input
                  type="password"
                  class="form-control"
                  formControlName="password"
                  autocomplete="current-password"
                  [placeholder]="'Password'"
                  required
                />
                <span hidden>Password</span>
              </label>
            </div>
            <div class="m-3">
              <button class="btn btn-primary w-100" type="submit" [disabled]="!loginForm.valid">
                <i class="fas fa-cog fa-spin"></i>
                <span>Login</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->
