<ion-header>
  <ion-toolbar>
    <ion-title>Users</ion-title>
      <ion-buttons slot="primary">
        <ion-button color="secondary"  (click)="newUser()">
          <ion-icon slot="icon-only" ios="add-outline" md="add-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">S.no</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users; index as i">
      <th scope="row">{{ user.id }}</th>
      <td>
        {{ user.name }}
      </td>
      <td>{{ user.email }}</td>
      <td>{{ user.phone }}</td>
      <td>{{ user.address['street']}}, {{ user.address['city'] }}, {{ user.address['zipcode'] }}</td>
    </tr>
    </tbody>
  </table>
</ion-content>
